*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 17px;
    font-family: sans-serif;
}

.header{
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
}

.headerTitle{
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 375%;
}

.headerButton{
    text-transform: uppercase;
    background: transparent;
    color: white;
    font-size: 150%;
    border: none;
    letter-spacing: 1px;
}

/*Hamburger menu*/

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  

/*Hamburger menu*/

.headerButton:hover{
    cursor: pointer;
}

.mainNav{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s all;
}


.mainNavList{
    list-style: none;
}

.mainNavListItem{
    color: white;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 350%;
}

.mainNavListItem > a{
    text-decoration: none;
    color: white;
}

.bigFigure{
    width: 100%;
    height: 105vh;
}

.bigFigure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection{
    padding: 40px;
    width: 100%;

}

.collectionTitle, .infoTitle{
    font-size: 325%;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.collectionList{
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

}

.collectionListItem{
    width: 400px;
    height: 600px;
    background: black;
    flex-shrink: 1;
    flex-grow: 1;
}

.collectionListItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.info{

    padding: 40px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.block{
    width: 400px;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: space-between;
}


.info p {
    max-width:50ch ;
}

footer{
    background: black;
    height: 150px;
    padding-left: 35px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 80%;
}

.footerList{
    padding-top: 25px;
    list-style: none;
    color: white;
    font-style: italic;
    font-weight: 100;
}

footer > p{
    padding: 40px;
}

footer > p > a{
    color: white;
    font-style: italic;
    font-weight: 100;
    text-decoration: none;
    font-size: 100%;

}



/*footer icons*/
.fa-instagram, .fa-x-twitter, .fa-youtube{
    font-size: 115%;
    color: white;
    padding-bottom: 7px;

}

/*footer icons*/



@media screen and (max-width:700px) {

    body{
        font-size: 14px;
    }

    .headerTitle{
        font-size: 380%;
    }
}